<script type="text/javascript" src="/static/assets/js/tagger.js"></script>
<script src="https://unpkg.com/moment"></script>
<!-- mediainfo.js for getting length of audio files like m4a/aif -->
<script src="https://unpkg.com/mediainfo.js@0.1.4/dist/mediainfo.min.js"></script>

<!-- page main content -->
<div class="container-fluid" style='color: {{textColor5}}' onload='checkFileAPI();'>

    <div style="margin-top:-30px;">

        <!-- Header Text -->
        <h5 class="widgettitle">stuff</h5>
        <hr>
        



    </div>
</div>

