<script type="text/javascript" src="/static/assets/js/tagger.js"></script>
<script src="https://unpkg.com/moment"></script>
<!-- mediainfo.js for getting length of audio files like m4a/aif -->
<script src="https://unpkg.com/mediainfo.js@0.1.4/dist/mediainfo.min.js"></script>

<!-- page main content -->
<div class="container-fluid" style='color: {{textColor5}}' onload='checkFileAPI();'>

    <div style="margin-top:-30px;">

        <!-- Header Text -->
        <h5 class="widgettitle">Digify is a free open-source electron app that uses ffmpeg to render videos by combining audio and image files. View the code for this project on <a href="https://github.com/MartinBarker/digify">Github here</a></h5>
        <hr>

        <!-- Tutorial -->
        <h6>To use Digify, first click the "Add Upload" button at the top of the window.</h6>
        <img style="width: 100%; height: auto;" src="../static/assets/img/digify-tutorial1.png">
<br><br><br>

        <h6>Drag your audio + image files into the window or click "Choose Files" to pick multiple files.</h6>
        <img style="width: 100%; height: auto;" src="../static/assets/img/digify-tutorial2.png">
<br><br><br>
        
        <h6>Verify the files you want to include, and then click "Create"</h6>
        <img style="width: 100%; height: auto;" src="../static/assets/img/digify-tutorial3.png">
<br><br><br>
        
        <h6>Once the upload is created, you will see all your audio files in the table. If you want to combine a single audio file and image, select the audio file from the table, change any options (default options work fine) and then click the 'Render x individual files button'. Once the video render starts, you will see a status update in the top right section of the button.</h6>
        <img style="width: 100%; height: auto;" src="../static/assets/img/digify-tutorial4.png">
<br><br><br>
        
        <h6>When the render has finished, you will see the output video file in the same location as the audio/image files you chose.</h6>
        <img style="width: 100%; height: auto;" src="../static/assets/img/digify-tutorial5.png">
<br><br><br>
        
        <h6>If you want to combine multiple audio files into one video, drag to organize them in table to be the order you want, and then click the "Render Full Album Video" button.</h6>
        <img style="width: 100%; height: auto;" src="../static/assets/img/digify-tutorial6.png">
<br><br><br>
        
        
        

    </div>
</div>

