
<div class="container-fluid" style='color: {{textColor5}}'>

    {{postDate}} - {{postDescription}}
    <br>
    <div style="margin-right: 200px;" id='postContent'>





    </div>
</div>

<script>
    $(document).ready(function () {
        document.getElementById('postContent').innerHTML = `{{{postContent}}}`
    })
</script>

